.Rproj.user
.Rhistory
.RData
.Ruserdata

# Hidden files and folders

01_session/
02_session/
03_session/
04_session/
05_session/
06_session/
07_session/
08_session/
09_session/
10_session/
11_session/
12_session/
13_session/
14_session/

